# Name of service
nameOverride: ""
fullnameOverride: ""

# Number of pods to deploy
replicaCount: 1

# Docker container to deploy
image:
  repository: "hypertrace/schema-registry"
  pullPolicy: "IfNotPresent"

imagePullSecrets: []

configurationOverrides: {}
customEnv: {}
schemaRegistryOpts: {}
overrideGroupId: ""
kafka:
  protocol: "PLAINTEXT"
  bootstrapServers: ""

# Schema registry JVM Heap Option
heapOptions: "-Xms128M -Xmx200M"

# Avro Compatibility  Level
avroCompatibilityLevel: "full"

# Resources requested by pod
resources:
  requests:
    cpu: "0.25"
    memory: "256Mi"

# livenes probe on http port
livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10

# readiness probe on http port
readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10

# upgrade strategy
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 1

podAnnotations: {}

podLabels: {}

terminationGracePeriodSeconds: 30

nodeSelector: {}

tolerations: []

affinity: {}

hostNetwork: false

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
    add:
      - NET_BIND_SERVICE

serviceAccount:
  create: false
  name: ""

service:
  port: 8081
  ## Service type can be set to ClusterIP, NodePort or LoadBalancer.
  type: ClusterIP
  ## Service annotations
  annotations: {}
  loadBalancerSourceRanges: []

# Ingress Resource
ingress:
  enabled: false
  ## Ingress hostnames
  ## Must be provided if Ingress is enabled
  hosts:
    - paths:
        - path: "/schema-registry"

## Monitoring
## Schema Registry JMX Settings
## ref: https://docs.confluent.io/current/schema-registry/docs/monitoring.html
jmx:
  enabled: false
  port: 5559

## Prometheus Exporter Configuration
## ref: https://prometheus.io/docs/instrumenting/exporters/
prometheus:
  ## JMX Exporter Configuration
  ## ref: https://github.com/prometheus/jmx_exporter
  jmx:
    enabled: false
    image:
      repository: hypertrace/prometheus-jmx-exporter
      tag: 0.1.3
      pullPolicy: IfNotPresent
    port: 5560
    resources:
      requests:
        cpu: "0.25"
        memory: "256Mi"

backup:
  enabled: false
  topic: "_schemas"
  schedule: "0 1 * * *"
  startingDeadlineSeconds: 86400
  concurrencyPolicy: Forbid
  image:
    repository: "hypertrace/kafka"
    tag: "0.1.0"
    pullPolicy: "IfNotPresent"
  imagePullSecrets: []
  cluster: "test"
  gcloud: {}
  affinity: {}
  nodeSelector: {}
  securityContext: {}
  tolerations: []
  podAnnotations: {}
  podLabels: {}

servicemonitor:
  enabled: false
  interval: 15s
  secure: false
  tlsConfig: {}

compatibilityJob:
  enabled: true
  name: schema-registry-compatibility-job
  hook: pre-install, pre-upgrade
  hookDeletePolicy: before-hook-creation
  backoffLimit: 3
  ttlSecondsAfterFinished: 600
  activeDeadlineSeconds: 300
  image: curlimages/curl:8.1.0
  config:
    # - subject1:BACKWARD
    # - subject2:FORWARD
  command: [ "/bin/sh", "-cx" ]
  restartPolicy: Never
  terminationGracePeriodSeconds: 30